<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculation Result</title>
    <!-- You can add a link to your CSS here if you have one -->
    <!-- <link rel="stylesheet" href="/static/css/style.css"> -->
</head>
<body>
<h1>Calculation Result</h1>
<p>The sum of {{firstNumber}} and {{secondNumber}} is {{sum}}!</p>
<p>This content was rendered by the server using Handlebars.</p>
<!-- You can add a link to your client-side JS here if you have one -->
<!-- <script src="/static/js/main.js"></script> -->
</body>
</html>